.Header {
	background-image: url('../../images/Gir.png');
	background-size: 35%;
	background-repeat: no-repeat;
	height: 50px;
	width: 69px;
	margin-left: 15px;
	display: inline-block;
	vertical-align: middle;
}
